.header {
    width: 100%;
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }